<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue INtro</title>
  </head>
  <body>
    <div id="app">
      <h2>{{message}}</h2>
      <ul v-if="showList">
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        >
        </todo-item>
      </ul>
      <button v-on:click="toggleList">{{showList? "close":"open"}}</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      Vue.component("todo-item", {
        props: ["todo"],
        template: "<li>{{todo.text}}</li>",
      });

      let app = new Vue({
        el: "#app",
        data: {
          message: "Components in Veu",
          showList: true,
          groceryList: [
            { id: 0, text: "vegetables" },
            { id: 1, text: "cheese" },
            { id: 3, text: "chocolate" },
          ],
        },
        created: function () {
          console.log(this);
        },
        methods: {
          toggleList() {
            this.showList = !this.showList;
          },
        },
      });
    </script>
  </body>
</html>
