<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Vue Todo App</title>
  </head>
  <body>
    <div id="app">
      <h2>{{message}}</h2>
      <div class="todo-input">
        <input type="text" v-model="todoTitle" placeholder="Type a todo" />
        <button @click="addTodo">Add</button>
      </div>
      <todo-list :todos="todos" :remove="removeTodo"></todo-list>
    </div>

    <!-- TEMPLATES -->

    <script type="text/x-template" id="todo-item-template">
      <li class="todo-item" >
        <input type="checkbox" v-model="todo.done">
        <span :class="{done: todo.done}">{{todo.title}}</span>
        <button @click="$emit('remove-todo', todo.id)">Remove</button>
      </li>
    </script>

    <script type="text/x-template" id="todo-list-template">
      <div class="todo-list" >
        <ul>
          <todo-item v-for="todo in todos" :todo="todo"  :key="todo.id"  @remove-todo="remove" ></todo-item>
        </ul>
      </div>
    </script>
    <!-- TEMPLATES -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
